django==4.2.11
dj-database-url==2.1.*
django-environ==0.4.5
django_extensions==3.2.1
djangorestframework==3.14.0
django-filter==23.2
django-pglocks==1.0.4
django-json-widget==0.2.0
whitenoise==6.4.0
psycopg2==2.8.4
gunicorn==20.0.4
sentry-sdk==1.14.0
django-staff-sso-client==4.2.1
requests[security]==2.31.0
sigauth==5.2.6
directory-healthcheck==3.4
django-cryptography==1.1
zenpy==2.0.46
celery[redis]>=5.2.2
cryptography>=42.0.4
notifications-python-client==8.0.0
directory-components==40.2.2
urllib3==2.0.7
django-ratelimit==2.0.0
django-redis==5.4.*
waitress==2.1.2
django-celery-beat==2.5.0
pyjwt==2.4.0
certifi==2023.07.22
sqlparse==0.5.0
drf-spectacular>=0.26.0
elastic-apm==6.1.*
