django==2.2.19
dj-database-url==0.5.0
django-environ==0.4.5
django_extensions==2.2.5
djangorestframework==3.12.2
django-filter==2.2.0
django-pglocks==1.0.3
django-json-widget==0.2.0
whitenoise==5.0.1
psycopg2==2.8.4
gunicorn==20.0.4
sentry-sdk==0.13.5
django-staff-sso-client==1.0.1
requests[security]==2.22.0
sigauth==4.1.1
directory-healthcheck==2.0.0
django-cryptography==0.3.0
zenpy==1.1.10
celery[redis]==4.4.0
cryptography==3.3.2
notifications-python-client==5.4.1
directory-components==35.9.1
urllib3>=1.24.2,<2.0.0
django-admin-ip-restrictor==2.1.0
django-ratelimit==2.0
django-redis==4.11.0
waitress==1.4.3
